Source: ros-kinetic-vrep-ugv-plugin
Section: misc
Priority: extra
Maintainer: Riccardo Polvara <rpolvara@lincoln.ac.uk>
Build-Depends: debhelper (>= 9.0.0), libopencv-dev, ros-kinetic-brics-actuator, ros-kinetic-catkin, ros-kinetic-cv-bridge, ros-kinetic-image-transport, ros-kinetic-nifti-robot-driver-msgs, ros-kinetic-rosconsole, ros-kinetic-roscpp, ros-kinetic-roslib, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-tf, ros-kinetic-tf2-ros, ros-kinetic-vrep-common
Homepage: http://www.coppeliarobotics.com
Standards-Version: 3.9.2

Package: ros-kinetic-vrep-ugv-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopencv-dev, ros-kinetic-brics-actuator, ros-kinetic-cv-bridge, ros-kinetic-image-transport, ros-kinetic-nifti-robot-driver-msgs, ros-kinetic-perception-pcl, ros-kinetic-rosconsole, ros-kinetic-roscpp, ros-kinetic-roslib, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-tf, ros-kinetic-tf2-ros
Description: V-REP plugin for ROS interface - modified by Alcor for enabling track_vel_cmd messages for the ugv
